# System files
.DS_Store

# Ignore everything by default
*

# Allowlist specific files and folders
!package.json
!package-lock.json
!yarn.lock
!tsconfig.json
!public/
!src/
!README.md
!LICENSE
!.gitignore
!*.ts          # Include all top-level TypeScript files
!*.tsx
